<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/fontawesome-free-5.9.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="home"></div>
    <div class = "container ">
        <div class="projects row mt-5">
            
            <div class="card col-12 col-sm-12 col-md-12 col-lg-4 " style="width: 18rem;">
                <i class="fas fa-briefcase text-center"></i>
                <div class="card-body text-center">
                  <h5 class="card-title">DoubleOpe.com (This Website)</h5>
                  <p class="card-text">My personal website</p>
                  <a href="https://github.com/doubleope/DoubleOpe.com" class="btn btn-primary">View Code</a>
                </div>
              </div>
              <div class="card-separator"></div>
              <div class="card col-12 col-sm-12 col-md-12 col-lg-4 " style="width: 18rem;">
                  <i class="fas fa-globe text-center"></i>
                  <div class="card-body text-center">
                    <h5 class="card-title">Country Guess Game</h5>
                    <p class="card-text">A game designed to encourage people to learn more about the world</p>
                    <a href="/cgg" class="btn btn-primary">Go to Website</a>
                    <a href="https://github.com/doubleope/CountryGuessGame" class="btn btn-primary">View Code</a>
                  </div>
                </div>
                <div class="card-separator"></div>
                <div class="card col-12 col-sm-12 col-md-12 col-lg-4 " style="width: 18rem;">
                  <i class="fas fa-terminal text-center"></i>
                    <div class="card-body text-center">
                      <h5 class="card-title">BashTerminal.com</h5>
                      <p class="card-text">Tutorial website for beginners in Linux</p>
                      <a href="http://www.bashterminal.com" class="btn btn-primary">Go to Website</a>
                      <a href="https://github.com/doubleope/BashTerminal.com" class="btn btn-primary">View Code</a>
                    </div>
                </div>
        </div>
        <ul class = "row mt-5">
            <li class="col-6 text-center" ><i onclick="location.href='https://github.com/doubleope';" class="fab fa-github"aria-hidden="true"></i><p onclick="location.href='https://github.com/doubleope';">My Github</p></li>
            <li class="col-6 text-center"> <i onclick="location.href='https://www.linkedin.com/in/opeyemi-openiyi';" class="fab fa-linkedin"aria-hidden="true"></i><p onclick="location.href='https://github.com/doubleope';">My LinkedIn</p></li>      
        </ul> 
    </div>
    <div id = "footer" class = "d-flex justify-content-center align-items-center"> <p id = "for-footer">Contact: doubleope@gmail.com</p></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>