html {
    margin-top: 0px;
    padding-top: 0px;
    height: 100%;
}

body{
    background-color: cadetblue;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    height: 100%;
}

#heading {
    background: powderblue;
    border-radius: 20%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.375);
  
    text-align: center;

}

#beginning {
    border-top: solid black;
    border-style: inset;
    border-radius: 30%;
    margin-top: 1em;
    border-bottom: none;
    border-right: none;
    border-left: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.375);

}

