html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
  
}

i {
    font-size: 4rem;
    
}

li i {
    cursor: pointer;
}
.fa-github:hover {
    border-radius: 50%;
}

li i:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.45);
    height: 3.2rem;
}

canvas {
   position: relative;
    
}

#homecontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hometext {
    color: white;
    text-align: center;
    font-size: 2rem;
}

span {
    color: rgb(243, 117, 117);
}

#proj-btn {
    background: rgb(0,139,139);
}

#proj-btn:hover {
    background: rgb(0,200,200);
}


.home {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(36, 35, 35);
    
}

.home > p {
    color: white;
}

#projectsandlinks {
    height: 50%;
}

.card {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
    align-items: center;
    border-radius: 4%;
}

.card:hover {
    
   transform: translate(0px, -0.3rem);
}


ul {
    list-style: none;
    padding-left: 0;
    margin-top: 7rem;
}

li p {
    cursor: pointer;
}

#footer {
    background-color: black;
    height: 40px;
    text-align: center;
}

#for-footer {
    color: white;
    border: 0;
    margin: 0;
}

