html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}


i {
    font-size: 4rem;
    
}

li i {
    cursor: pointer;
}

li i:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.45);
    border-radius: 50%;
}

.home {
    height: 100%;
    width: 100%;
    background: black;
    
}

ul {
    list-style: none;
    
   
}

li p {
    cursor: pointer;
}

#footer {
    background-color: black;
    height: 40px;
    text-align: center;
}

#for-footer {
    color: white;
    border: 0;
    margin: 0;
}

